# Ambienti virtuali
venv/
env/

# Cache di Python
__pycache__/
*.pyc
*.pyo

# File di sistema Mac
.DS_Store

# File di configurazione degli editor (opzionale ma consigliato)
.vscode/
.idea/

# Cartelle di dati che NON devono finire su GitHub
mariadb_data/
ollama_data/
venv/
__pycache__/
.DS_Store
*.db